/*MULTI PAGE STYLES*/
nav {
    background-color: #93857b
}
div{
    font-size: 18px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: lighter;
}
.page-body{
    margin-top:1%;
    margin-bottom: 1%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 1%;
}
/*style page titles*/
h4{
    font-family: 'Inconsolata', monospace;
    font-weight: normal;
    font-size: 25px;
    padding: 0;
    margin-bottom: 10px;
}
/*styling buttons*/
button{
    background: none;
    border: none;
    font-weight: bold;
    font-family: 'Inconsolata', monospace;
    margin-top: 1%;
}
/*style links*/
a{
    font-family: 'Inconsolata', monospace;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #a1723b;
}
.nav-margins{
    padding-left: 1%;
    padding-right: 1%;
}
/*resize images and icons*/
.resizeThisImage2{
    width: auto;
    height: 300px;
}
.resizeThisIcon{
    width: 50px;
    height: 50px;
}
/************************************************************/
/*ABOUT*/
.profile-image{
    text-align: center;
    float: left;
}
#profile-image-sizing{
    width: 80%;
    height: auto;
}
.about-section{
    margin: 10px;
    text-align: justify;
    padding: 10px;
}
.links-section{
    text-align: center;
}
/************************************************************/
/*SKILLS*/

/************************************************************/
/*RESUME*/
/************************************************************/
/*PROJECTS*/
/*projects grid*/
/* .projectImageResize{
    width:100%;
    height: auto;
} */
.projectImg {
    height : 350px;
    width: auto;
}
@media screen and (max-width: 1050px) {
    .projectImg {
        width: 0;
    }
  }
.card{
    width: 100%; 
    margin-bottom: 2%;
    display: inline-block;
}
/************************************************************/
/*CASE STUDIES*/
/* .caseStudyContainer{
    display: grid;
    grid-template-columns: 3fr 1fr 2fr;
    grid-template-rows: auto;
    grid-gap: 10px;
}
.caseStudyContainer>.navClass{
    border-bottom: 2px solid red;
}
.caseStudyContainer>header{
    grid-column: 1/4;
    grid-row: 1;
}
.caseStudyContainer>.mainImage{
    grid-column: 1;
    grid-row: 2;
    margin: 12px;
}
.caseStudyImage{
    width: 100%;
    height: auto;
}
.caseStudyContainer>.detailsSidebar{
    grid-column: 2;
    grid-row: 2;
    margin: 12px;
}

.caseStudyContainer>.quickFacts{
    grid-column: 3;
    grid-row: 2/4;
    margin: 12px;
    background: rgba(211, 211, 211, 0.25);
    padding: 15%;
    font-size: 20px;
    text-align: justify;
}
.caseStudyContainer>.description{
    grid-column: 1/3;
    grid-row: 3;
    margin: 12px;
}
.caseStudyContainer2{
    margin: 0;
    grid-column: 1/4;
    grid-row: 4;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 10px;
}
.caseStudyContainer2>.sideImage1{
    grid-column: 1;
    grid-row: 1;
    margin: 12px;
}
.caseStudyContainer2>.sideText1{
    grid-column: 2;
    grid-row: 1;
    margin: 12px;
    background: rgba(211, 211, 211, 0.25);
    padding: 5%;
}
.caseStudyContainer2>.sideImage2{
    grid-column: 1;
    grid-row: 2;
    margin: 12px;
}
.caseStudyContainer2>.sideText2{
    grid-column: 2;
    grid-row: 2;
    margin: 12px;
    background: rgba(211, 211, 211, 0.25);
    padding: 5%;
}
.caseStudyContainer2>.sideImage3{
    grid-column: 1;
    grid-row: 3;
    margin: 12px;
}
.caseStudyContainer2>.sideText3{
    grid-column: 2;
    grid-row: 3;
    margin: 12px;
    background: rgba(211, 211, 211, 0.25);
    padding: 5%;
} */
/************************************************************/
/*REFLECTIONS*/
/*reflection grid*/
/*****************************************************************/
/*contact page*/
.contact-iframe{
    margin-left: 5%;
    /* width: 75%; */
    text-align: center;
}
/*****************************************************************/
/*error page*/
#errorImage{
    text-align: center;
}
